{#
/**
 * @file sdv_gis_entity.html.twig
 * Default theme implementation to present Sdv gis entity data.
 *
 * This template is used when viewing Sdv gis entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sdv_gis_entity()
 *
 * @ingroup themeable
 */
#}
<div class="map-holder gis_ia">
    <div id="gis_ia_map_{{ entity.node_id }}" class="map" parms="{{ entity.parms }}" dwnld="{{ entity.dwnld }}"></div>
    <div id="popup{{ entity.node_id }}" class="ol-popup"><a href="#" id="popup-closer{{ entity.node_id }}" class="ol-popup-closer"></a><div id="popup-content{{ entity.node_id }}"></div></div>
</div>